[user]
  name = takeo.shimizu
  email = st0098@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  pu = push -u
  p = pull --all -p
  st = status
  co = checkout
  cb = checkout -b
  br = branch
  bv = branch -vv
  bav = branch -avv
  conflicts = !git ls-files -u | cut -f 2 | sort -u
  tree = log --graph --date=iso --pretty='[%ad]%C(auto) %h%d %Cgreen%an%Creset : %s'
  trace = log --graph --oneline --all --branches --decorate --name-status
  eucdiff = "! f() { git diff $@ | nkf -w | colordiff | LESS=-R less;};f"
  pull-all = pull --all -p
[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
[diff "xlsx"]
  binary = true
  textconv = $GOPATH/bin/git-xlsx-textconv
[diff "properties"]
  textconv = /System/Library/Frameworks/JavaVM.framework/Versions/Current/Commands/native2ascii -reverse
[commit]
  template = ~/.stCommitMsg
[pull]
  rebase = true
